.pagination {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 0 !important;
  margin: 0 0 7rem 0 !important;
}

.chunk-meals {
  display: flex;
  gap: 1rem;
}

.btn-page {
  width: 45px;
}

.btn-page {
  border: none;
  background-color: white;
  color: crimson;
  border-left: 1px solid #dee2e6;
  margin: 0 0 0 -1px;
}

.btn-first {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.btn-last {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
