.card {
  border: none !important;
  overflow: hidden !important;
  background-color: transparent !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
}

.card-body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 330px;
}

.card-body * {
  margin: 0 !important;
}

.img {
  background-color: #232323 !important;
}

.icon {
  padding: 0 !important;
  display: inline-block;
  font-size: 0.9rem;
}

.list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0.5rem 1rem !important;
}

.list li {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 5px;
}

.list li:last-child {
  border: none;
}

.list li p {
  margin: 0 !important;
  color: #5f5f5f;
}

.list li {
  filter: grayscale(40%);
}

.strong {
  color: #232323;
  font-weight: bolder;
}

.fire {
  color: orange;
}

.heart {
  color: crimson;
}

.rate {
  color: goldenrod;
}

.time {
  color: purple;
}

.meals-box {
  color: white !important;
}

.diet-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 0.7rem;
  color: white;
  padding: 0 !important;
}

.diet-list li {
  padding: 2px 5px;
  border-radius: 7px;
  background-color: green;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.price {
  position: absolute;
  top: 10px;
  right: 10px;

  background-color: rgb(var(--secondary));
  color: white;

  padding: 0.25rem 0.5rem;

  border-radius: 4px;
}

.title {
  font-size: 1rem;
}
