.cart {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  z-index: 300;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: white;

  border-radius: 20px;

  padding: 2rem;
}

.cart div {
  color: #232323;
}

.title-box {
  width: 100%;
  border-bottom: 3px solid rgb(var(--main));
}

.title-box h3 {
  padding-left: 40px;
}

.info {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.4rem;
}

.info p {
  border-right: 2px solid rgb(var(--main));
  padding-right: 2rem;
}

.info p:last-child {
  border: none !important;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
}

/* BUTTONS
--------------------------------------------------------------------*/
.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn-x {
  position: absolute;
  top: 20px;
  right: 30px;

  font-size: 2rem;
  border: none;

  background-color: transparent;
  color: rgb(var(--dark-secondary));
}

.btn-close {
  border: 2px solid rgb(var(--dark-secondary)) !important;
  color: rgb(var(--dark-secondary));
  background-color: transparent;
  font-weight: 500;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 14px;
}
