.cart {
  position: fixed;
  z-index: 100;
  background-color: white;
  top: 30%;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.cart div {
  color: #232323;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 88;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.btn-x {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.actions button {
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  padding: 1rem 3rem;
  border-radius: 24px;
}

.btn-x {
  color: rgb(177, 127, 1);
}

.btn-order {
  background-color: rgb(177, 127, 1);
  color: white;
}

.btn-close {
  background-color: #dddddd;
}

.info {
  display: flex;
  gap: 2rem;
}
