.bar {
  color: white;

  z-index: 100;

  position: fixed;
  bottom: 0;
  left: 50vw;

  transform: translate(-50%, 0);
  transition: all 1s;

  background-color: #2b2b2b;

  gap: 1rem;

  width: 900px;
  padding: 1rem 0;

  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.text {
  width: 75%;

  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.text {
  font-size: 0.9rem;
  gap: 0.8rem;
}

.text p span {
  opacity: 0.5;
}

.text svg {
  padding-right: 5px;
}

.total {
  width: 8rem;
  padding: 0.25rem;

  font-size: 1.1rem;
  font-weight: 600;

  transform: skewX(-5deg);
  background-color: rgb(var(--darkest-secondary));
}

/* BUTTONS & INPUTS
--------------------------------------- */
.btn-open {
  position: fixed;
  bottom: 0;
  right: 30vw;

  transform: translateX(-50%);
  transition: all 0.5s;

  border: 2px solid rgb(var(--secondary));
  background-color: rgb(var(--secondary));
  color: white;

  font-size: 1.3rem;
  padding: 0.5rem;

  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.btn-open:hover {
  border-color: rgb(var(--light-secondary));
  color: rgb(var(--light-secondary));
  background-color: transparent;
}

.btn-open:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(var(--lightest-secondary), 0.5);
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 30px;

  font-size: 1.3rem;
}

.hide {
  transform: translate(-50%, 100%);
}

.btn-close,
.btn-open {
  color: white;
}

/* MEDIA QUERIES
--------------------------------------- */
@media (max-width: 1650px) {
  .btn-open {
    right: 25vw;
  }
}

@media (max-width: 1000px) {
  .bar {
    width: 100vw;
    left: 0;
    right: 0;
    transform: translate(0, 0);
    align-items: flex-end;
    border-radius: 0;
  }

  .bar.hide {
    transform: translate(0, 100%);
  }
  .btn-open {
    right: 10vw;
  }
}

@media (max-width: 750px) {
  .text {
    flex-direction: column;
  }
}
