.bar {
  position: fixed;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  bottom: 0;
  left: 50vw;
  transform: translate(-50%, 0);
  transition: all 1s;

  background-color: #333333;

  width: 900px;
  padding: 1rem;

  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}

.bar p {
  margin: 0 !important;
  font-size: 0.9rem;

  display: flex;
  align-items: center;
  gap: 10px;
}

.bar * {
  color: white;
}

/* BUTTONS & INPUTS
--------------------------------------- */
.btn-open {
  position: fixed;

  bottom: 0;
  right: 30%;

  transition: all 1s;

  background-color: rgb(var(--secondary));
  color: white;

  font-size: 1.3rem;
  padding: 0 0.5rem;

  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.btn-open:hover {
  background-color: rgb(var(--darkest-secondary));
}

.btn-open:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(var(--lightest-secondary), 0.5);
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 30px;

  font-size: 1.3rem;
}

.hide,
.closed {
  bottom: -100px;
}

.btn-order {
  display: flex;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 24px;

  padding: 10px 20px;

  font-weight: 500;
  text-transform: uppercase;

  background-color: rgb(var(--main));
}

.disabled {
  cursor: not-allowed !important;
}
