.btn-add-default {
  color: white !important;
  background-color: rgb(var(--main)) !important;
  border-color: rgb(var(--main)) !important;
}

.btn-add-default:hover,
.btn-add-default:active,
.btn-add-default:focus {
  background-color: rgb(var(--dark-main)) !important;
  border-color: rgb(var(--dark-main)) !important;
}

.btn-add-default:focus,
.btn-add-default:active {
  box-shadow: 0 0 0 5px rgba(var(--dark-main), 0.3) !important;
}
