.order {
  border: 2px solid #2e692e;
  background-color: transparent;
  color: #2e692e;

  gap: 10px;

  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 14px;

  transition: all 0.4s;
}

.order:hover {
  background-color: #2e692e;
  color: white;
}

.order:disabled {
  border-color: transparent;
  color: grey;
}
