.btn-delete {
  background-color: rgb(var(--secondary));
  color: white;

  position: absolute;
  top: 0;
  left: 0;

  height: 35px;
  width: 35px;
}

.btn-delete:hover {
  background-color: rgb(var(--darkest-secondary));
}

.btn-delete:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
}
