.card {
  border: none !important;
  overflow: hidden !important;
  background-color: transparent !important;
  transition: all 0.4s;
  width: 18rem;
}

.card-body {
  background-color: white;
  height: 330px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
}

.title {
  font-size: 1rem;
  margin-bottom: 0.5rem !important;
}

.diet-list li {
  padding: 2px 5px;
  border-radius: 7px;
  background-color: green;
}

.list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 0rem 1rem !important;
}

.list li {
  display: flex;
  align-items: center;
  gap: 15px;

  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 5px;
}

.list li:last-child {
  border: none;
}

.list li p {
  margin: 0 !important;
  color: #5f5f5f;
}

.strong {
  color: #232323;
  font-weight: bolder;
}

.diet-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 0.7rem;
  color: white;
  padding: 0 !important;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.price {
  position: absolute;
  top: 10px;
  right: 10px;

  background-color: rgb(var(--secondary));
  color: white;

  font-size: 1.3rem;
  padding: 0.25rem 0.5rem;

  border-radius: 4px;
}

/* ICON COLORS 
--------------------------------------------------*/
.list svg {
  filter: grayscale(40%);
}

.fire {
  color: orange;
}

.heart {
  color: crimson;
}

.rate {
  color: goldenrod;
}

.time {
  color: purple;
}

/* MEDIA QUERIES
--------------------------------------------------*/
@media (max-width: 850px) {
  .title {
    font-size: 1.7rem;
  }

  .card {
    display: flex !important;
    flex-direction: row !important;
    width: 90%;
  }

  .card-body,
  .img-box {
    width: 50% !important;
  }

  .img-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-box img {
    height: 100%;
    width: auto;
  }

  .price {
    right: auto;
    left: 10px;
  }
}

@media (max-width: 650px) {
  .card {
    width: 100%;
  }

  .img-box {
    width: 45% !important;
  }
}
