.meals {
  display: flex;
  flex-direction: column;

  background-color: #232323;

  margin: 0 !important;
  padding: 2rem 0;
  min-height: 200px;
}

.spinner,
.no-meals {
  color: white !important;
}

.spinner {
  height: 50px;
  width: 50px;
}
