.card {
  border: none !important;
  overflow: hidden !important;
  background-color: transparent !important;
  transition: all 0.4s;
  width: 18rem;
}

.card-body {
  background-color: white;
  height: 330px;
}

.price {
  position: absolute;
  top: 10px;
  right: 10px;

  background-color: rgb(var(--secondary));
  color: white;

  font-size: 1.3rem;
  padding: 0.25rem 0.5rem;

  border-radius: 4px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.tags-list li {
  padding: 2px 5px;
  border-radius: 7px;

  color: white;
}

.diet {
  background-color: #378137;
}

.cuisine {
  background-color: #774777;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

.list li {
  color: #5f5f5f;

  display: flex;
  align-items: center;
  gap: 15px;

  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 5px;
}

.list li:last-child {
  border: none;
}

.strong {
  color: #232323;
  font-weight: bolder;
}

.actions {
  display: flex;
  justify-content: space-between;
}

/* MEDIA QUERIES
--------------------------------------------------*/
@media (max-width: 850px) {
  .title {
    font-size: 1.7rem;
  }

  .card {
    flex-direction: row !important;
    width: 100%;
  }

  .card-body,
  .img-box {
    width: 50%;
  }

  .img-box img {
    height: 100%;
    width: auto;
  }

  .price {
    right: auto;
    left: 10px;
  }

  .text-container {
    max-height: 75%;
  }

  .actions {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (max-width: 650px) {
  .card {
    width: 100%;
    border-radius: 0 !important;
  }

  .img-box {
    width: 45% !important;
  }
}
