.footer {
  flex-direction: column;
  gap: 1rem;

  color: white;
  padding: 3rem 2rem 5rem 2rem;
}

.copyright-box {
  display: flex;
  gap: 0.6rem;
}

.footer a:link,
.footer a:visited {
  color: white;
  text-decoration: none;
  padding-bottom: 3px;
}

.footer a:hover,
.footer i:hover {
  color: rgb(var(--secondary));
  border-color: rgb(var(--secondary));
}

.underline {
  border-bottom: 1px solid white;
}
