.cart {
  padding: 2rem;
}

.cart div {
  color: #232323;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
}

.title-box {
  border-bottom: 2px solid rgb(var(--main));
}

.info {
  gap: 2rem;
  font-size: 1.4rem;
  padding: 1rem 0;
}

.info p {
  border-right: 2px solid rgb(var(--main));
  padding-right: 2rem;
  color: #616161;
}

.info p:last-child {
  border: none !important;
}

/* BUTTONS
--------------------------------------------------------------------*/
.actions {
  gap: 1rem;
}

.btn-x {
  position: absolute;
  top: 20px;
  right: 30px;

  font-size: 2rem;

  background-color: transparent;
  color: rgb(var(--dark-secondary));
}

.btn-close {
  border-radius: 14px;
  border: 2px solid rgb(var(--dark-secondary)) !important;

  color: rgb(var(--dark-secondary));
  background-color: transparent;

  transition: all 0.4s;

  font-weight: 500;
  padding: 0.5rem 2rem;
}

.btn-close:hover {
  background-color: rgb(var(--dark-secondary)) !important;
  color: white;
}

@media (max-width: 800px) {
  .list {
    overflow-x: auto;
  }
}

@media (max-width: 400px) {
  .info {
    gap: 0.5rem;
  }

  .info p {
    border: none;
  }
}
