.modal {
  height: 650px;
  overflow: hidden;
  display: flex;
}

.img-box {
  height: 100%;
  width: 30%;
  overflow: hidden;
}

.img-box:before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 30%;
}

.img-box img {
  height: 100%;
}

.content {
  color: #232323;

  width: 70%;
  display: grid;
  grid-template-columns: 1fr;
}

.title,
.ingredients,
.ingredients h4,
.nutrients {
  grid-column: 1/3;
}

.title {
  background-color: #232323;
  color: white;
  padding: 1rem 4rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.some-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 1rem;
  color: rgb(61, 61, 61);
}

.some-info svg {
  color: rgb(var(--main));
}

.ingredients {
  padding: 0;
  margin: 0 auto;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1frs);
  overflow: auto;
}

.ingredients h4 {
  padding: 0.25rem;
  text-align: center;
  background-color: #232323;
  color: white;
}

.ingredients li {
  padding: 0.65rem;
  border-bottom: 1px solid #e1e1e1;
}

.ingredients li:last-child,
.ingredients li:nth-last-child(1):nth-child(odd),
.ingredients li:nth-last-child(2):nth-child(even),
.ingredients li:nth-last-child(1):nth-child(even) {
  border: none !important;
}

.icon {
  color: green;
}

.nutrients {
  display: flex;
  flex-direction: row;

  line-height: 10px;
  padding: 0.25rem 1rem;
  font-size: 0.6rem;

  color: #6e6e6e;
}

.btn-add {
  border-radius: 0;
}

.btn-close {
  position: absolute;
  background-color: transparent;
  border: none;
  color: rgb(var(--secondary));
  font-size: 2rem;
  right: 20px;
  top: 15px;
}
