.login {
  color: white;

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/src/imgs/login-background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 100vw;
  padding: 9rem 0;

  overflow: hidden;
}

.control {
  border: none !important;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.spinner {
  font-size: 10px;
  height: 20px;
  width: 20px;
}

/* BUTTONS & INPUTS
--------------------------------------- */
.btn {
  background-color: rgb(var(--main)) !important;
  border: none !important;
}

.btn:hover,
.btn:focus {
  background-color: rgb(var(--darkest-main)) !important;
}

.control:focus,
.control:active,
.btn:focus,
.btn:active {
  box-shadow: 0 0 0 5px rgba(var(--lightest-main), 0.3) !important;
}

button:disabled,
input:disabled {
  cursor: wait;
  pointer-events: all !important;
  background-color: rgb(211, 211, 211) !important;
}

/* WRONG CREDENTIALS
--------------------------------------- */
.actions p {
  color: rgb(var(--light-secondary));
  margin: 0 !important;
  font-size: 1.1rem;
}

.invalid,
.invalid:focus {
  background-color: rgb(var(--lightest-secondary)) !important;
  box-shadow: 0 0 0 3px rgba(var(--secondary), 0.3) !important;
}

/* MEDIA QUERIES
--------------------------------------- */
@media (max-width: 800px) {
  .title {
    display: flex;
    justify-content: center;
  }

  .title img {
    width: 80%;
    min-width: 300px;
  }

  .login {
    gap: 2rem;
    overflow: auto;
  }
}
