.app {
  max-width: 100vw;
  overflow: hidden;
}

.fire {
  color: orange;
}

.heart {
  color: crimson;
}

.rate {
  color: goldenrod;
}

.time {
  color: purple;
}

.fx-cntr {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ELEMENTS  
------------------------------------------------------------------------------ */
button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
}

button:disabled {
  cursor: not-allowed;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

svg {
  filter: grayscale(40%);
}
