.modal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 300;

  background-color: white;

  border-radius: 20px;
}

@media (max-width: 800px) {
  .modal {
    max-width: 90% !important;
  }
}
